<form name="form">
  <div>
    name: <input name="name" [(ngModel)]="user.name">
    <span style="color:red;" *ngIf="userNotFound">user not found</span>
    <span style="color:red;" *ngIf="userAlreadyExists">user already exists</span>
  </div>

  <div *ngIf="path === 'login'">
    <button (click)="login()">login</button><br>
    <a routerLink="/register">register</a>
  </div>

  <div *ngIf="path === 'register'">
    <button (click)="register()">register</button><br>
    <a routerLink="/login">login</a>
  </div>

</form>
