@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.error-text {
  color: red;
}

.outline {
  outline: 1px solid;
  outline-offset: -1px;
}

/*
mat-form-field {
  margin-right: 14px;
}
*/
